/* Project- Group 3- Ling'c Cars website revamp
   Group 3 members-Raul
                   Pei
                   Amala 
                   Dhanashree  */
/* *********************************************************************************************************
                            TABLE OF CONTENTS
                            1. CSS reset
                            2.Global styles
                              2.1 Color
                              2.2 Typography
                              2.3 Helper
                              2.4 Grid Helper
                            3. Header and Navigation
                            4. Sign In and related pages
                            5. Body 
                            6.About Us page
                            7.Inventory page
                            8.Leasing page
                            9.Services Page
                           10.Offers page
                           11.FAQs page
                           12.Contact Us page

************************************************************************************************************/

/* *********************************************************************************************************
*********************************************************************************************************** 
                            1. CSS reset (Eric mayer reset)
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                            2.Global styles
***********************************************************************************************************
************************************************************************************************************/


                /* *************************************************
                *****************************************************
                            2.1 Color
                *****************************************************
                *****************************************************/

                /* *************************************************
                *****************************************************
                            2.2 Typography
                *****************************************************
                *****************************************************/

                /* *************************************************
                *****************************************************
                            2.3 Helper
                *****************************************************
                *****************************************************/

                /* *************************************************
                *****************************************************
                            2.4 Grid Helper
                *****************************************************
                *****************************************************/

/* *********************************************************************************************************
*********************************************************************************************************** 
                            3. Header and Navigation
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                            4. Sign In and related pages
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                            5. Body
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                             6.About Us page
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                            7.Inventory page
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                            8.Leasing page
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                            9.Services Page
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                            10.Offers page
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                             11.FAQs page
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                             12.Contact Us page
***********************************************************************************************************
************************************************************************************************************/




/*---------------naming convention REFERENCE in case of adding new variables ------------*/
/* --base-font-size: 16px; 
    --base-maxwidth: 100%;
    --reviewsio-logo-style: var(--logo-normal);
    --common-star-color: #25c634;
    --common-star-disabled-color: rgba(0, 0, 0, 0.25);
    --medium-star-size: 22px;
    --small-star-size: 19px;
    --x-small-star-size: 19px;
    --x-small-star-display: inline-flex;
    --header-order: 1;
    --header-width: 160px;
    --header-bg-start-color: transparent;
    --header-bg-end-color: transparent;
    --header-gradient-direction: 135deg; */


/****************************************************************************************/
/*                                BEGIN  Global Variable                                */
/****************************************************************************************/
:root {
  /* Typography */
  --primary-font: 'Roboto', sans-serif;
  --heading-font: 'Roboto Slab', serif;
  --fw-l: 300;
  /* normal Light font weight */
  --fw-b: 500;
  /* Basic font weight */
  --fw-bold: 700;
  /* Bold font weight */
  --fs-base: 1rem;
  /* Base font size */
  --fs-large: calc(var(--fs-base) * 2);


  /* Color */
  --primary-color: #0B1C55;
  /* Dark blue - for header links, footer, some buttons */
  --secondary-color: #D1D6E1;
  /* Light gray pale blue */
  --tertiary-color: #BBE1F6;
  /* Light blue, sky blue */
  --accent-color: #DAFCF6;
  /* Light green pale cyan */
  --secondary-accent-color: #DEB992;
  /* Gold */

  --text-lt-color: #fff;
  --text-mid-color: #666;
  /* need it for form fields */
  --text-dk-color: #000;

  --visted-color: #1e4fee;
  --hover-color: #DEB992;


  /* Helper */
  --spacer: 1rem;
  --spacer-dbl: calc(var(--spacer) * 2);
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --padding: 8px;
  --border-radius: 10px;


  /* Grid helper */
  --grid-item-mobile: repeat(1, 1fr);
  --grid-item-mid: repeat(2, 1fr);
  --grid-item-ml: repeat(3, 1fr);
  --grid-item-large: repeat(4, 1fr);
  --grid-item-very-large: repeat(6, 1fr);
}

/* END Global Variable */

/** - body is an element selector **/
body {
  /* designed variables*/
  --visited-color: var(--tertiary-color);
  --hover-color: var(--secondary-color);

  color: var(--text-dk-color);
  font-family: var(--primary-font);
  font-weight: var(--fw-l);
  margin: auto;
  max-width: 100%;
}
/** this icon is used when user sign in */
.fa-smile-beam {
  color: green;
}


/** default general style for all elements **/
h1, h2, h3 {
  color: var(--text-dk-color);
  font-family: var(--heading-font);
  font-weight: var(--fw-bold);
}

h1 {font-size: calc(var(--fs-base) * 1.8);}
h2 {font-size: calc(var(--fs-base) * 1.5);}
h3 {font-size: calc(var(--fs-base) * 1.2);}
  
p {line-height: 1.5;}

img {
  max-width: 100%;
  /* image will not exceed the width of its container */
  height: auto;
  /* image will not exceed the height of its container */

}

a:visited {
  color: var(--visted-color);
}

a:hover {
  color: var(--hover-color);
}

/****************************************************************************************/
/*                                   HEADER AND NAVIGATION                              */
/*                                                                                      */
/****************************************************************************************/

/****************************************************************************************/
/*                                BEGIN  style Header section                          */
/*                Mobile first hamburger menu                                           */
/****************************************************************************************/


/* !!!!! NECESSARY TO PUSH THE MAIN section down as navBar has a fixed position !!!!! */
main {
  padding-top: 80px;
  /* leave space for the navigation bar as position is fixed header's height */
}

/** - .hero img is a decedent selector **/
.hero img {
  width: 100%
}

.navBar {
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-dk-color);
  display: flex;
  width: 100%;
  height: 80px;
  position: fixed;

}

.headerNav {
  position: absolute;
  top: 100%;
  background-color: var(--secondary-color);
  width: 100%;
  display: none;
}

.headerNav li {
  padding: var(--spacer);
  border-bottom: solid 1px #fafafa;
  text-decoration: none;
}

.headerNav li a {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: var(--fw-bold);

}

.headerNav li a:hover {
  color: var(--hover-color);
}

.navToggler:checked~nav {
  display: block;
}

.navToggler {
  display: none;
}

.mi {
  color: var(--primary-color);
}

.menuClose {
  display: none;
}

.navTogglerMenu {

  position: absolute;
  top: var(--spacer);
  left: var(--spacer);
  display: flex;
}

.navToggler:checked~.navTogglerMenu .menuClose {
  display: block;
}

.navToggler:checked~.navTogglerMenu .menuOpen {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: .6rem;
  right: 8rem;
}

.logo img {
  width: 80px;
  /* Adjust the width as needed */
  height: 50px;
  margin: 0 1rem 0 0;

}

.login {
  display: flex;
  justify-content: end;
  position: absolute;
  top: .6rem;
  right: var(--spacer);
  margin: 0 1rem 0 0;
}


/****************************************************************************************/
/*                                BEGIN  style for search bar                           */
/*                Style specfic for the class .search-bar          DEFAULT              */
/****************************************************************************************/


.search-bar {
  display: none;
  /* Hide the search bar on mobile devices */
}

.box-viewCars,
.btn-viewCars {
  display: block;
  /* Adjust as needed */
}

/* Style for the "box-viewCars" (initially hidden) */
.box-viewCars {
  background-color: var(--secondary-color);
  padding: var(--spacer-dbl);
}

.btn-viewCars {
  font-size: var(--fs-large);
  padding: var(--spacer);
  width: 100%
}



.search-bar {
  --bg-search-bar: var(--secondary-color);
  background-color: var(--bg-search-bar);
  width: 100%;
  margin: auto;
  padding: 10px;
  box-shadow: var(--shadow);

}

/* behavier for mobile version */
ul.search {
  display: grid;
  gap: 10px;
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);

}

.search .hide {
  color: var(--bg-search-bar);
}

.search-bar label {
  display: block;
  margin-bottom: 0.5em;
  color: var(--primary-color);
  font-weight: var(--fw-bold);
}

/* Style for select fields */
ul.search select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: var(--border-radius);
}


ul {
  list-style-type: none;
}

figcaption {
  width: 100%;
}


/****************************************************************************************/
/*                                BEGIN  .btn                                           */
/*                Style specfic for the class btn and inverted btn                      */
/****************************************************************************************/


/* Attribute Selector Styles */
[class*='btn-'] {
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--text-lt-color);
  cursor: pointer;
  padding: 7px 24px;
  transition: background-color .3s ease;
  text-decoration: none;
  box-shadow: var(--shadow);


}

[class*='btn-']:hover {
  background-color: var(--accent-color);
  color: var(--text-dk-color);
}

.btn-invert {
  background-color: var(--text-lt-color);
  color: var(--text-dk-color);
  margin-bottom: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/****************************************************************************************/
/*                                BEGIN  top lease car section                          */
/*                Style specfic for the class cards in top leasing deal                 */
/****************************************************************************************/


.cards,
.car-desc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: var(--spacer) 0px;
  gap: var(--spacer);
}
/* method applied for all top leasing sections */
[class*='top'] {
display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--text-lt-color);
    padding-bottom: var(--spacer-dbl);
    margin-bottom: var(--spacer);
    margin-top: var(--spacer-dbl);
    /* border: 5px solid var(--tertiary-color); */
}


  
  /** using class element with descendent selector **/
  /*The elements will grow and shrink as needed, but they will start with a basis width of 300 pixels.*/
  [class*='top'] > * {
    flex: 1 0 auto;
    flex-basis: 300px;
    margin: 10px; /* Half of grid-gap to simulate the same spacing */
  }


  [class*='top'] article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacer-dbl);
  background-color: var(--tertiary-color);
  border: solid 20px var(--tertiary-color);
  box-shadow: var(--shadow);
}

[class*='top'] .btn-invert {
  margin-top: var(--spacer);
}
[class*='top'] dl{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/***** Style to Car Details ****/


/****** Style for the section contact agent *****/
.det-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;

}

.basic input,
.basic textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  /* Include padding and border in the element's total width */
}

.basic textarea {
  min-height: 250px;
}

input[type="email"] {
  min-width: 225px;
}

label {
  display: block;
  font-size: 1em;
  margin-bottom: 0.25em;
  color: var(--text-mid-color);
  font-family: var(--primary-font);
  padding-top: var(--spacer);
}

/* Begin styling address */

ul {
  padding-bottom: 20px;
}

ul.det-location {
  display: grid;
  grid-template-columns: 4fr 3fr 1fr 2fr;
  gap: 10px;
  /* Adjust the gap between columns if needed */

}

ul.det-location li:first-child {
  grid-column: span 4;
  /* Make the first item span four columns */
}

ul.det-location li:last-child {
  grid-column: span 2;
  /* Make the last item span 2 to make sure it align with address */
}

/* Style for input fields */
ul.det-location input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;

}

/* End styling address */

.det-container {
  display: flex;
  flex-direction: column;
}



.det-checks,
.det-contactTime {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  /* Adjust this value to change the spacing between checkboxes */
  list-style: none;
  /* Remove default list style */
}

.det-checks li,
.det-contactTime li {
  display: flex;
  align-items: center;
}

.det-checks input[type="checkbox"] {
  margin-right: 5px;
  /* Add some space between the checkbox and the label */
}

.det-contactTime {
  text-align: center;
  font-family: var(--heading-font);
  color: var(--text-dk-color);
  font-size: calc(var(--fs-base) * 1.2);
}

/****************************************************************************************/
/*                       BEGIN         how does car leasing works                       */
/****************************************************************************************/


.cards article {
  padding: var(--spacer-dbl);
  background-color: var(--accent-color);
}


.cards-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  background-color: var(--accent-color);
  justify-items: center;
  align-items: center;
  height: 100%;
  padding-bottom: var(--spacer-dbl);
  margin-bottom: var(--spacer);
}

main {
  width: 80%;
  margin: auto;
}

.cards-container h3 {
  font-family: var(--heading-font);
  font-weight: var(--fw-bold);
  font-style: italic;
  line-height: 1.25;
  text-align: center;
  padding: 1rem;
}

.cards-container p {
  padding: var(--spacer) var(--spacer);
}

.card {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  height: 100%;
  padding: var(--spacer-dbl);
  background-color: #fff;
  text-align: center;
  width: 80%;
  box-shadow: var(--shadow);
}

i {
  font-size: 2.5rem;
  color: #DEB992;
  padding: var(--spacer);
}

.card {
  margin-top: auto;

}

/****************************************************************************************/
/*                                car inventory                                         */
/*                Style specfic for the class inventory page                            */
/****************************************************************************************/

.car-desc article {
  background-color: #fff;
  border: solid 5px var(--tertiary-color);
}

.car-desc img {
  width: 250px;
  height: 150px;
  border: solid 5px var(--secondary-color);
  margin-bottom: var(--spacer);
}



/* END how does car leasing works ______________*/


/* ************************************************************************************************************ */
/*---------CSS FOR Sign In, Sign up pswd and usrnmreset page------*/
.signInPage {
  height: 100vh;
}

.signInPage footer {
  position: fixed;
  bottom: 0;
}

.signIn {
  background-color: var(--secondary-color);
  width: 80%;
  padding: 10px;
  margin: 15% auto;
  box-shadow: var(--shadow)
}

.signIn .btn {
  width: 98%;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--text-lt-color);
  cursor: pointer;
  padding: 7px 24px;
  transition: background-color .3s ease;
  text-decoration: none;
  box-shadow: var(--shadow);
  margin: 10px auto;
}

.signIn li {
  margin-bottom: 5px;
}

.signIn input {
  width: 95%;
  border: solid 1px #0B1C55;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.signIn h2 {
  color: var(--text-dk-color);
  font-size: 1.25rem;
  font-family: var(--heading-font);
  margin-bottom: 10px;

}

.signIn p {
  color: var(--text-dk-color);
  font-family: var(--primary-font);
  margin-bottom: 10px;
}

/*---------CSS FOR Sign up page------*/
.signUpPage {
  height: 100vh;
}

.signUpPage footer {
  position: fixed;
  bottom: 0;
}

.signUp {
  background-color: var(--secondary-color);
  width: 80%;
  padding: 10px;
  margin: 10% auto;
  box-shadow: var(--shadow)
}

.signUp .btn {
  width: 98%;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--text-lt-color);
  cursor: pointer;
  padding: 7px 24px;
  transition: background-color .3s ease;
  text-decoration: none;
  box-shadow: var(--shadow);
  margin: 10px auto;
}

.signUp li {
  margin-bottom: 5px;
}

.signUp input {
  width: 95%;
  border: solid 1px #0B1C55;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.signUp h2 {
  color: var(--text-dk-color);
  font-size: 1.25rem;
  font-family: var(--heading-font);
  margin-bottom: 10px;

}

.signUp p {
  color: var(--text-dk-color);
  font-family: var(--primary-font);
  margin-bottom: 10px;
}

/* passowrd reset */
.pswdresetPage {
  height: 100vh;
}

.pswdresetPage footer {
  position: fixed;
  bottom: 0;
}

.pswdreset {
  background-color: var(--secondary-color);
  width: 80%;
  padding: 10px;
  margin: 10% auto;
  box-shadow: var(--shadow)
}

.pswdreset .btn {
  width: 98%;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--text-lt-color);
  cursor: pointer;
  padding: 7px 24px;
  transition: background-color .3s ease;
  text-decoration: none;
  box-shadow: var(--shadow);
  margin: 10px auto;
}

.pswdreset li {
  margin-bottom: 5px;
}

.pswdreset input {
  width: 95%;
  border: solid 1px #0B1C55;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.pswdreset h2 {
  color: var(--text-dk-color);
  font-size: 1.25rem;
  font-family: var(--heading-font);
  margin-bottom: 10px;

}

.pswdreset p {
  color: var(--text-dk-color);
  font-family: var(--primary-font);
  margin-bottom: 10px;
}


/****************************************************************************************/
/*                                BEGIN     FOOTER                                      */
/****************************************************************************************/
footer h1 {
  color: var(--text-lt-color);
}

footer h2 {
  color: var(--text-lt-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--text-lt-color);
  width: 100%;
  padding: 10px;
}

footer section {
  width: 80%;
  margin: auto;
  text-align: center;
}

footer h2 {
  color: var(--text-lt-color);
  font-size: 1.25rem;
  font-family: var(--heading-font);
  margin-bottom: 8px;
}

footer button {
  width: 30%;
  margin-top: 10px;
  background-color: var(--text-lt-color);
  color: var(--text-dk-color);

}

footer a {
  color: var(--text-lt-color);
  font-family: var(--primary-font);
  text-decoration: none;
}

/** - a:visited is a pseudo class selector **/
footer a:visited {
  color: var(--tertiary-color);
}

footer a:hover {
  color: var(--secondary-color);
}

.d {
  display: none;
}

.mIcon a {
  display: inline-block;
  margin: 15px;
}

.i a {
  margin: 10px;
}

/* END FOOTER */


/****************************************************************************************/
  /*                              begin---     Leasing page styling                       */
  /****************************************************************************************/


.leasingImage img {
    padding-top: 1rem;
}
article.topDealers {
    display: flex;
    padding: 10px 0;
}
.topDealers h3 {
    text-align: left;
    padding-bottom: var(--spacer);
}
.topDealers img {
    padding: 1rem;
}
.containerA {
    padding: 0 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
article.discountedPricing {
    display: flex;
    padding-bottom: 10px;
}
.discountedPricing h3 {
    text-align: left;
    padding-bottom: var(--spacer);
}
.discountedPricing img {
    padding: 1rem;
}

article.lowerPayments {
    display: flex;
    padding-bottom: 10px;
}
.lowerPayments h3 {
    text-align: left;
    padding-bottom: var(--spacer);
}
.lowerPayments img {
    padding: 1rem;
}
.containerA {
    background-color: var(--accent-color);
    border-radius: 8px;
}
article.heading2 {
    display: block;
    padding: 10px 0;
    box-sizing: border-box;
}
article.list {
    display: flex;
    padding-bottom: 10px;
}

.list img {
    padding: 1rem;
}
.list p{
    align-items: left;
    text-align: center;
    padding: 2rem;
}
article.list2 {
    display: flex;
    padding-bottom: 10px;
}

.list2 img {
    padding: 1rem;
}
.list2 p{
    align-items: left;
    text-align: center;
    padding: 2rem;
}
article.list3 {
    display: flex;
    padding-bottom: 10px;
}

.list3 img {
    padding: 1rem;
}
.list3 p{
    align-items: left;
    text-align: center;
    padding: 2rem;
}
.containerB {
    
    padding: 0 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
article.rules {
    display: block;
    
}
.rules h3 {
    padding-top: var(--spacer);
}
.rules ul {
    padding: 1rem;
    
}
.rules li {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    text-align:left
/*   list-style:disc;*/
}
.rules li img{
    border: solid 1px grey;
    border-radius: 30px;
    margin:0 1rem;
/*    padding-bottom: var(--spacer); */
}
.containerC {
    background-color:var(--accent-color); 
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
article.important {
    display: block;
    
}
.important h3 {
    padding: var(--spacer);
}
.important ul {
    padding: var(--spacer);
}
.important li {
    padding: var(--spacer);
    list-style: disc;
    margin: 1rem;
}
.containerD {
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.containerD p{
    margin: 1rem;
}
 /****************************************************************************************/
  /*                                End of Leasing page                                     */
  /****************************************************************************************/


/****************************************************************************************/
/*                                BEGIN    CONTACT US                                     */
/****************************************************************************************/

.contactDetails {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  text-align: left;
  box-shadow: var(--shadow)
}

.contactDetails article {
  background-color: var(--tertiary-color);
  padding: 10px;
}

.contactDetails div {
  border: solid 2px #0B1C55;
  border-radius: var(--border-radius);
  padding: 10px;
}

.contactDetails h2 {
  color: var(--text-dk-color);
  font-size: 1.25rem;
  font-family: var(--heading-font);

}

.contactDetails p {
  color: var(--text-dk-color);
  font-family: var(--primary-font);
}

.contactUs {
  background-color: var(--secondary-color);
  width: 80%;
  padding: 10px;
  margin: auto;
  box-shadow: var(--shadow)
}

.contactUs h2 {
  color: var(--text-dk-color);
  font-size: 1.25rem;
  font-family: var(--heading-font);

}

.contactUs li {
  color: var(--text-dk-color);
  font-family: var(--primary-font);
  padding: 2px;

}

.contactForm input {
  width: 95%;
  border: solid 1px #0B1C55;
  border-radius: 6px;
  padding: 10px;
}

.contactForm .message {
  height: 150px;
}

.contactForm .btn {
  width: 98%;
  margin: 10px 0 0;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--text-lt-color);
  cursor: pointer;
  padding: 7px 24px;
  transition: background-color .3s ease;
  text-decoration: none;
  box-shadow: var(--shadow);
}

.map {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

/* *************************************END OF CONTACT US CSS********************** */



/****************************************************************************************/
/*                                   Media queries                                      */
/****************************************************************************************/


/* tablet size */
@media screen and (min-width: 700px) {

  /* Navigation Bar */

  .navbar {

    background-image: none;
  }

  .navTogglerMenu {
    display: none;
  }

  .navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;


  }

  .logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: .6rem;
    left: var(--spacer);
  }


  .logo img {
    width: 100px;
    /* Adjust the width as needed */
    height: 80px;

  }

  .headerNav {
    all: unset;
    /* to remove hamburger icon for desktop version */
    align-self: flex-start;
    z-index: 1000;
    /* this is needed to make sure that the navigation is not blocked by main */
  }

  .headerNav ul {
    display: flex;
    margin-right: 1rem;
  }

  .headerNav li {
    border-bottom: none;
    text-decoration: none;
  }

  .login {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 1rem;
    right: 7rem;

  }

  /* grid area for how does car leasing works */

  .cards-container {
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-gap: 2em;
  }

  .cards-container h2 {
    grid-column: 1/4;
    width: 80%;
  }

  .info-1 {
    grid-column: 1/2;
    height: 100%;
    width: 100%;
  }

  .info-2 {
    grid-column: 2/2;
    height: 100%;
    width: 100%;
  }

  .info-3 {
    grid-column: 3/2;
    height: 100%;
    width: 100%;
  }

  /***** Footer grid area *****/
  .m {
    display: none;
  }

  .d {
    display: grid;
    grid-template-areas: "l s c"
      "p s i";
    grid-column: 1fr;
    grid-row: auto;
    text-align: left;
  }

  .l {
    grid-area: l;

  }

  .s {
    grid-area: s;
    margin-left: 75px;
  }

  .c {
    grid-area: c;
    margin-left: 125px;

  }

  .p {
    grid-area: p;
    margin: 5px 0;

  }

  .i {
    grid-area: i;
    margin: 10px 0 5px 125px;
  }

  /* SIGN IN AND SIGN UP MEDIA QUERRY */
  .signIn {
    width: 33%;
  }

  .signUp {
    width: 33%;
  }

  .pswdreset {
    width: 33%;
  }
}

/** end Tab size **/
/***** Desktop size *****/

@media screen and (min-width: 1200px) {

  /* header link, wait for Amala to modify */

  .navbar {
    display: block;
  }

  .center-nav,
  .center-nav ul {
    display: flex;
    justify-content: space-between;
  }

  .logo img {
    width: 50%;
  }

  .center-nav ul li {
    margin: 0 10px;
    /* Adjust this value as needed */
  }


  /****** SPECIFIC FOR SEARCH BAR for desktopsize */
  .search-bar {
    display: block;
  }

  .box-viewCars,
  .btn-viewCars {
    display: none;
    /* Adjust as needed */
  }


  /* always hide for desktop on viewCars*/
  .box-viewCars {
    display: none;
  }

  .search-bar ul {
    grid-template-columns: var(--grid-item-very-large);
    align-self: end;
  }

  /* Raul: grid area for how does car leasing works */


  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    grid-gap: 2em;
  }

  /* ******css for contact us page********* */
  .contactDetails {
    display: grid;
    grid-template-areas: "hrs c1 c2";
    grid-column: 1fr;
    gap: 15px;
    grid-row: auto;
    box-shadow: none;

  }

  .hours {
    grid-area: hrs;
    align-items: center;
    box-shadow: var(--shadow);
  }

  .c1 {
    grid-area: c1;
    align-self: center;
    box-shadow: var(--shadow);
  }

  .c2 {
    grid-area: c2;
    align-self: center;
    box-shadow: var(--shadow);
  }

  .hours .c1 .c2 {
    width: 350px;

  }

  .contactDetails article {
    width: 100%;
  }

  .contactDetails div {
    border: solid 2px #0B1C55;
    border-radius: var(--border-radius);
    width: auto;
    height: 120px;
    padding: 10px;
    margin: auto;
  }

  .contactUs {
    display: grid;
    grid-template-areas: "form map";
    grid-column: 1fr;
    grid-row: auto;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
  }

  .contactForm {
    grid-area: form;
  }

  .map {
    grid-area: map;
    width: 80%;
    height: auto;
  }

  /* SIGN IN AND SIGN UP MEDIA QUERRY */
  .signIn {
    max-width: 600px;
  }

  .signUp {
    max-width: 600px;
  }

  .pswdreset {
    max-width: 600px;
  }

}
