/* Project- Group 3- Ling'c Cars website revamp
   Group 3 members-Raul
                   Pei
                   Amala 
                   Dhanashree  */
/* *********************************************************************************************************
                            TABLE OF CONTENTS
                            1. CSS reset
                            2.Global styles
                              2.1 Color
                              2.2 Typography
                              2.3 Helper
                              2.4 Default style for all pags
            
                            3. Header and Navigation
                            4. Sign In and related pages
                            5. Body 
                               5.1 Grid Helper 
                            6.About Us page
                            7.Inventory page
                            8.Leasing page
                            9.Services Page
                           10.Offers page
                           11.FAQs page
                           12.Contact Us page
                           13.Footer

************************************************************************************************************/

/* *********************************************************************************************************
                            1. CSS reset (Eric mayer reset) in seperate file cc/reset.css
************************************************************************************************************/


/* *********************************************************************************************************

                            2.Global styles/Global Variable 
***********************************************************************************************************
************************************************************************************************************/
:root {
 
  /**------------ 2.1 Color ------------**/

  --primary-color: #0B1C55;              /* Color */
  --secondary-color: #D1D6E1;            /* Dark blue - for header links, footer, some buttons */
  --tertiary-color: #BBE1F6;             /* Light gray pale blue */
  --accent-color: #DAFCF6;               /* Light blue, sky blue */
  --secondary-accent-color: #DEB992;     /* Light green pale cyan */
  --text-lt-color: #fff;                 /* Gold */
  --text-mid-color: #666;                /* need it for form fields */
  --text-dk-color: #000;

  /** -------- 2.2 Typography ------**/
  --primary-font: 'Roboto', sans-serif;  /* normal Light font weight */
  --heading-font: 'Roboto Slab', serif;  /* Basic font weight */
  --fw-l: 300;                           /* Bold font weight */
  --fw-b: 500;                           /* Base font size */
  --fw-bold: 700;                        /* Large font size */
  --fs-base: 1rem;
  --fs-large: calc(var(--fs-base) * 2);

/**------------ 2.3 helpers  ------------**/
  --spacer: 1rem;
  --spacer-dbl: calc(var(--spacer) * 2);
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --padding: 8px;
  --border-radius: 10px;
}

/**------------ 2.4 Default style for all pags  ------------**/
h1, h2, h3 {
  color: var(--text-dk-color);
  font-family: var(--heading-font);
  font-weight: var(--fw-bold);
}

h1 {font-size: calc(var(--fs-base) * 1.8);}
h2 {font-size: calc(var(--fs-base) * 1.5);}
h3 {font-size: calc(var(--fs-base) * 1.2);}

H5 {font-size: calc(var(--fs-base) * 1.5);
    }  
p {line-height: 1.5;}

img {
  max-width: 100%;      /* image will not exceed the width of its container */
  height: auto;
  
}

ul {list-style-type: none;}
/** 1. - a:visited is a pseudo class selector **/
a:visited {color: var(--visted-color);}
a:hover {color: var(--hover-color);}



/** - body is an element selector **/
body {

  /** ------------ 5.1 Grid helper  ------------**/
  --grid-item-mobile: repeat(1, 1fr);
  --grid-item-mid: repeat(2, 1fr);
  --grid-item-ml: repeat(3, 1fr);
  --grid-item-large: repeat(4, 1fr);
  --grid-item-very-large: repeat(6, 1fr);
  --hover-color: var(--secondary-accent-color);

  color: var(--text-dk-color);
  font-family: var(--primary-font);
  font-weight: var(--fw-l);
  margin: auto;
  max-width: 100%;
}

main {
  width: 80%;
  margin: auto;
}


/****************************************************************************************/
/*                                BEGIN  .btn                                           */
/*                Style specfic for the class btn and inverted btn                      */
/****************************************************************************************/


/** 3. Attribute Selector Styles **/
[class*='btn-'] {
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--text-lt-color);
  cursor: pointer;
  padding: 7px 24px;
  transition: background-color .3s ease;
  text-decoration: none;
  box-shadow: var(--shadow);
  width:90%;
}

[class*='btn-']:hover {
  background-color: var(--accent-color);
  color: var(--text-dk-color);
}

.btn-invert {
  background-color: var(--text-lt-color);
  color: var(--text-dk-color);
  margin: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
             
/* *********************************************************************************************************
*********************************************************************************************************** 
                            3. Header and Navigation
***********************************************************************************************************
************************************************************************************************************/


/* !!!!! NECESSARY TO PUSH THE MAIN section down as navBar has a fixed position !!!!! */
main {padding-top: 100px;}

/** - 2. img is a decedent selector of .hero **/
.hero img {
  width: 100%
}

.navBar {
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-dk-color);
  display: flex;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  position: fixed;
  background-color: var(--text-lt-color); /*navigation background color*/

}

.headerNav {
  position: absolute;
  top: 100%;
  background-color: var(--accent-color); /*menu li background color*/  
  width: 100%;
  display: none;
}

.headerNav li {
  padding: var(--spacer);
  border-bottom: solid 2px var(--text-lt-color);
  text-decoration: none;
}

.headerNav li a {
  display: block;
  color: var(--text-dk-color); /** default li color for navigation links **/
  text-decoration: none;
  font-family: var(--heading-font);
  font-weight: var(--fw-bold);
}

/* cant use default because of ham menu */
.headerNav li a:hover {
  color: var(--hover-color);
} 

.navToggler:checked~nav {display: block;}
.navToggler {display: none;}
.mi {color: var(--primary-color);}
.menuClose {display: none;}

.navTogglerMenu {
  position: absolute;
  top: var(--spacer);
  left: var(--spacer);
  display: flex;
}

.navToggler:checked~.navTogglerMenu .menuClose {display: block;}
.navToggler:checked~.navTogglerMenu .menuOpen {display: none;}

.logo {
  display: flex;
  align-items: center;
  position: absolute;
  top: var(--spacer);
  right: 10rem;
}

.logo img {
  width: 80px;
  /* Adjust the width as needed */
  height: 50px;
  margin: 0 1rem 0 0;  
}

.fa { color: var(--text-lt-color);}

.login {
  display: flex;
  justify-content: end;
  position: absolute;
  top: var(--spacer);
  right: var(--spacer);
  margin: 0 1rem 0 0;
}
.login i {color: var(--primary-color);}

.navBar {
  background-color: var(--text-lt-color);
  color: var(--text-lt-color);
}

/****************************************************************************************/
/*                                BEGIN  style for search bar                           */
/*                Style specfic for the class .search-bar          DEFAULT              */
/****************************************************************************************/

.box-viewCars,
.btn-viewCars {display: block;}

/* Style for the "box-viewCars" (initially hidden) */
.box-viewCars {
  background-color: var(--secondary-color);
  padding: var(--spacer-dbl);
}

.btn-viewCars {
  font-size: var(--fs-large);
  padding: var(--spacer);
  width: 100%
}

.search-bar { 
  display: none;/* Hide the search bar on mobile devices */ 
  --bg-search-bar: var(--secondary-color);
  background-color: var(--bg-search-bar);
  width: 100%;
  margin: auto;
  margin-top: var(--spacer);
  padding-left: var(--spacer);
  box-shadow: var(--shadow);

}

/* behavier for mobile version */
ul.search {
  display: grid;
  gap: 10px;
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);

}

.search .hide {color: var(--bg-search-bar);}

.search-bar label {
  display: block;
  margin-bottom: 0.5em;
  color: var(--primary-color);
  font-weight: var(--fw-bold);
}

/* Style for select fields */
search-bar button,
ul.search select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: var(--border-radius);
}
/** - .search-bar button is a decedent selector, sibling **/
.search-bar + h2 {
  text-align: center;
  padding-top:var(--spacer-dbl);
}



/****************************************************************************************/
/*                                BEGIN  top lease car section                          */
/*                Style specfic for the class cards in top leasing deal                 */
/****************************************************************************************/




/* method applied for all top leasing sections */

.det-car,
[class*='top'] {
display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--text-lt-color);
    padding-bottom: var(--spacer-dbl);
    margin-bottom: var(--spacer);
    margin-top: var(--spacer-dbl);
    
}

  /** using class element with descendent selector **/
  /*The elements will grow and shrink as needed, but they will start with a basis width of 300 pixels.*/
  [class*='top'] > * {
    flex: 1 0 auto;
    flex-basis: 300px;
    margin: 10px; /* Half of grid-gap to simulate the same spacing */
  }

  [class*='top'] article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacer);
  background-color: var(--text-lt-color);
  border: solid 20px var(--tertiary-color);
  box-shadow: var(--shadow);
}

[class*='top'] dl{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/****************************************************************************************/
/*                       BEGIN         how does car leasing works                       */
/*       With respionsive style of flex using same class [top] to encourge code reuse   */
/****************************************************************************************/
/* re-use class top as much as possible, the the top leasing part */


.top-cards  {
  background-color: var(--accent-color);
  min-height: 300px;
  padding: var(--spacer);
}

.top-cards article {
  display:flex;
  border: none;  /* by default there is a border of 20px but for this one we don't need that */
}
/** using font awesome icon making it our color and bigger **/
 i {
  font-size: 2.5rem;
  color: var(--secondary-accent-color);
  padding: var(--spacer);
} 

/* *********************************************************************************************************
*********************************************************************************************************** 
                            4. Sign In and related pages
***********************************************************************************************************
************************************************************************************************************/
.signIn {
  background-color: var(--secondary-color);
  width: 80%;
  padding: 10px;
  margin:10% auto;
  box-shadow: var(--shadow);
}

.signIn .btn- {
  width: 98%;
  margin-bottom: 10px;
}

.signIn li {
  margin-bottom: 5px;
}

.signIn input {
  width: 95%;
  border: solid 1px #0B1C55;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.signIn h2 {
  color: var(--text-dk-color);
  font-size: 1.25rem;
  font-family: var(--heading-font);
  margin-bottom: 20px;
text-align: left;
padding:0;
}

.signIn p {
  color: var(--text-dk-color);
  font-family: var(--primary-font);
  margin-bottom: 10px;
}


/*---------CSS FOR Sign up page------*/


.signUpPage footer {
  position: fixed;
  bottom: 0;
}

.signUp {
  background-color: var(--secondary-color);
  width: 80%;
  padding: 10px;
  margin:10% auto;
  box-shadow: var(--shadow)
}

.signUp .btn- {
  width: 98%;
}

.signUp li {
  margin-bottom: 5px;
}

.signUp input {
  width: 95%;
  border: solid 1px #0B1C55;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.signUp h2 {
  color: var(--text-dk-color);
  font-size: 1.25rem;
  font-family: var(--heading-font);
  margin-bottom: 20px;
  text-align: left;
  padding:0;
}

.signUp p {
  color: var(--text-dk-color);
  font-family: var(--primary-font);
  margin-bottom:10px;
}

/* passowrd reset */

.pswdreset {
  background-color: var(--secondary-color);
  width: 80%;
  padding: 10px;
  margin:15% auto;
  box-shadow: var(--shadow)
}

.pswdreset .btn- {
  width: 98%;
  margin-bottom: 10px
}

.pswdreset li {
  margin-bottom: 5px;
}

.pswdreset input {
  width: 95%;
  border: solid 1px #0B1C55;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
}

.pswdreset h2 {
  color: var(--text-dk-color);
  font-size: 1.25rem;
  font-family: var(--heading-font);
  margin-bottom: 20px;
  text-align: left;
  padding:0;
}

.pswdreset p {
  color: var(--text-dk-color);
  font-family: var(--primary-font);
 margin:5px 0 10px;
}

/* *********************************************************************************************************
*********************************************************************************************************** 
                            5. Body
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                             6.About Us page
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                            7.Inventory page
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                            8.Leasing page
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                            9.Services Page
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                            10.Offers page
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                             11.FAQs page
***********************************************************************************************************
************************************************************************************************************/


/* *********************************************************************************************************
*********************************************************************************************************** 
                             12.Contact Us page
***********************************************************************************************************
************************************************************************************************************/
/****************************************************************************************/
/*                                BEGIN    CONTACT US                                     */
/****************************************************************************************/

.contactDetails {
  width: 80%;
  margin:15px auto;
  text-align: left;
  box-shadow: var(--shadow)
}

.contactDetails article {
  background-color:var(--tertiary-color);
  padding: 10px;
}

contactDetails > article > section {
border: 2px solid #000; /* Adjust as needed */
border-radius:var(--border-radius);
  padding: 10px;
}
.contactDetails div {
  border: solid 2px #0B1C55;
  border-radius:var(--border-radius);
  padding: 10px;
}

.contactDetails h2 {
  color:var(--text-dk-color);
  font-size: 1.25rem;
  font-family:var(--heading-font);
  margin-bottom:5px;

}
.contactDetails h3 {
padding-bottom: 10px;
}
.contactDetails li {
color: var(--text-dk-color);
font-family: var(--primary-font);
}

.contactUs {
  background-color:var(--secondary-color);
  width: 80%;
  padding: 10px;
  margin: auto;
  box-shadow: var(--shadow)
}
.contactUs h2{
  margin-bottom:20px;
  text-align: left;
  padding: 0;
}
.contactUs li {
  color:var(--text-dk-color);
  font-family: var(--primary-font);
  padding:2px;  
}

.contactForm input{
  width: 95%;
border: solid 1px #0B1C55;
  border-radius: 6px;   
  padding:10px;
  margin-bottom:5px;
}
.contactForm #message{
      height:165px;
  }

  .contactForm .btn- {
      width:98%;
    margin:10px 0 0;
  }






/****************************************************************************************/
/*                                car inventory                                         */
/*                Style specfic for the class inventory page                            */
/****************************************************************************************/

/** Restrict all image size to 250x150, keeping image original size 300x500 for car details page **/
.top-inventory img {
  width: 300px;
  height: 150px;
 margin-top: var(--spacer);
  margin-bottom: var(--spacer);
} 


/******************* SECTION FOR CAR DETAILS PAGE ********************/



.det-car article:nth-child(1) {
  background-color: var(--accent-color);
  padding: 10px;
}

.det-car article:nth-child(2) {
  background-color: var(--tertiary-color);
  padding: 10px;
}

.det-car h1 { 
  color: var(--primary-color);
  text-align: center; }
  

.det-car button {
  margin-top: var(--spacer-dbl); 
  padding: var(--spacer);
  width: 100%;
}
 
.det-imgs img {
  max-width: 90%;
  height: auto;
  display: block;
  margin-bottom: 10px; /* Add some spacing between images */
  margin-top: 20px; /* Add white space on top of images */
  border: solid 5px var(--secondary-color);
}

.det-imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns for desktop version */
  gap: 10px; /* Add some gaps between columns */
  box-sizing: border-box;
  background-color: var(--text-lt-color);
  padding: var(--spacer);
}
/* Make the first image span all columns */
.det-imgs img:first-child {
  grid-column: 1 / -1;
  width: 600px; /* Make it fill the whole width of the grid */
  justify-self: center; /* Center the image */
}

/* Adjust size for the rest of the images */
.det-imgs img:not(:first-child) {
  width: 100%;
  height: auto;
}


.lease-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto; /* Center the grid horizontally */
  max-width: 80%; /* Adjust the percentage as needed */
}

.lease-details > dd:first-child {
  grid-column: 1 / -1;
  margin-bottom: 20px;
}

.lease-details > dd:not(:first-child) {
  margin-bottom: 10px;
}



/* ************************************************************************************************************ */
/*---------CSS FOR Sign In, Sign up pswd and usrnmreset page------*/
/* ************************************************************************************************************ */



/****************************************************************************************/
/*                                BEGIN     FOOTER                                      */
/****************************************************************************************/
footer h1 {color: var(--text-lt-color);}

footer {
  background-color: var(--primary-color);
  color: var(--text-lt-color);
  width: 100%;
  padding: 10px;
}

footer section {
  width: 80%;
  margin: auto;
  text-align: center;
}

footer h2 {
  color: var(--text-lt-color);
  font-size: 1.25rem;
  font-family: var(--heading-font);
  margin-bottom: 8px;
  text-align: left;
  padding:0;
}

footer button {
  width: 30%;
  margin-top: 10px;
  background-color: var(--text-lt-color);
  color: var(--text-dk-color);

}

footer a {
  color: var(--text-lt-color);
  font-family: var(--primary-font);
  text-decoration: none;  
}


.d {display: none;}

.mIcon a {
  display: inline-block;
  margin: 15px;
}

.i a {margin: 10px;}

/* END FOOTER */

/****************************************************************************************/
/*                                BEGIN    ABOUT US                                     */
/****************************************************************************************/
/* About US Header */
.about_us #about-top {
  min-height: 400px;
  color: var(--text-lt-color);
  background: var(--primary-color);
}
#about-top img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 0;
  opacity: 0.8;
}

.about_us h1 {
  color: var(--text-lt-color);
  text-align: center;
}
.about_us h2 {
  padding-top: 1.5em;
  padding-bottom: 1em;
}
#about-top p {
  text-align: left;
  padding: 2em;
}
/* About Main */
#about-a {
  padding: 2em;
  background: var(--tertiary-color);
  margin: 2em 0;
}
#about-b {
  padding: 2em;
  background: var(--accent-color);
  margin-bottom: 1em;
}
#about-c {
  padding: 2em;
  background: var(--tertiary-color);
  margin-bottom: 1em;
}
#about-d {
  padding: 2em;
  background: var(--accent-color);
  margin-bottom: 1em;
}

/* *************************************END OF ABOUT US CSS********************** */

/****************************************************************************************/
  /*                              begin---     Leasing page styling                       */
  /****************************************************************************************/


.leasingImage img {
  width: 100%;
  margin:auto;
padding-top: 1rem;
}
article.dealers {
    display: flex;
    padding: 10px 0;
}
.dealers h3 {
    text-align: left;
    padding-bottom: var(--spacer);
}
.dealers img {
    padding: 1rem;
}
.containerA {
    padding: 0 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
article.discountedPricing {
    display: flex;
    padding-bottom: 10px;
}
.discountedPricing h3 {
    text-align: left;
    padding-bottom: var(--spacer);
}
.discountedPricing img {
    padding: 1rem;
}

article.lowerPayments {
    display: flex;
    padding-bottom: 10px;
}
.lowerPayments h3 {
    text-align: left;
    padding-bottom: var(--spacer);
}
.lowerPayments img {
    padding: 1rem;
}
.containerA {
    background-color: var(--accent-color);
    border-radius: 8px;
}
article.heading2 {
    display: block;
    padding: 10px 0;
    box-sizing: border-box;
}
article.list {
    display: flex;
    padding-bottom: 10px;
}

.list img {
    padding: 1rem;
}
.list p{
    text-align: center;
    padding: 2rem;
}
article.list2 {
    display: flex;
    padding-bottom: 10px;
}

.list2 img {
    padding: 1rem;
}
.list2 p{
    text-align: center;
    padding: 2rem;
}
article.list3 {
    display: flex;
    padding-bottom: 10px;
}

.list3 img {
    padding: 1rem;
}
.list3 p{
    text-align: center;
    padding: 2rem;
}
.containerB {  
    padding: 0 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
article.rules {
    display: block;
    
}
.rules h3 {
    padding-top: var(--spacer);
}
.rules ul {
    padding: 1rem;
    
}
.rules li {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    text-align:left
/*   list-style:disc;*/
}
.rules li img{
    border: solid 1px grey;
    border-radius: 30px;
    margin:0 1rem;
/*    padding-bottom: var(--spacer); */
}
.containerC {
    background-color:var(--accent-color); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
article.important {
    display: block; 
}
.important h3 {
    padding: var(--spacer);
}
.important ul {
    padding: var(--spacer);
}
.important li {
    padding: var(--spacer);
    list-style: disc;
    margin: 1rem;
}
.containerD {
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.containerD p{
    margin: 1rem;
}
 /****************************************************************************************/
  /*                                End LEASE, START OFFERS                                     */
  /****************************************************************************************/

  .offers article:first-child p {
    display: none; /* Hide the paragraph by default on smaller screens */
  }
  .offersImage img { width:100%; }
 
 .offersImage {
  position: relative;
  margin-top: var(--spacer);  
  background-color: var(--accent-color);
   border: 10px solid var(--primary-color);
}

 .offers article {
  padding: var(--spacer);
  margin: var(--spacer);
  font-family: var(--heading-font);
}




.offers article span {
  padding: var(--spacer);
}

.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  position: relative;
}



.topText, .bottomText {
  position: absolute;
  width: 100%;

  /* color: rgba(255, 255, 255, 0.7); Transparent white color */
  background-color: transparent; /* Fully transparent background */
  padding: 10px; /* Adjust padding as needed */
}

.topText {
top: 1%; /* Adjust the top position, write text on top of image */

}

.bottomText {
  bottom: 1%; /* Adjust the bottom position as needed */
  color:var(--text-lt-color);
}






/****************************************************************************************/
  /*                              begin---     Services page styling                       */
  /****************************************************************************************/

article.service1 {
    background-color: var(--accent-color);
     padding: var(--spacer);
    margin: var(--spacer);
    font-family: var(--heading-font);
}
article.service2 {
 padding: var(--spacer);
    margin: var(--spacer);
    font-family: var(--heading-font);
}
.service2 span {
     padding: var(--spacer);
}
article.service3 {

     padding: var(--spacer);
    margin: var(--spacer);
    font-family: var(--heading-font);
}
.service3 span {
     padding: var(--spacer);
}
section.maintain {
    background-color: var(--accent-color);
}
article.inspection {

     padding: var(--spacer);
    margin: var(--spacer);
    font-family: var(--heading-font);
}
.inspection span {
    padding: var(--spacer);
}
article.repair {

     padding: var(--spacer);
    margin: var(--spacer);
    font-family: var(--heading-font);
}
.repair span {
    padding: var(--spacer);
}
article.maintenance {

     padding: var(--spacer);
    margin: var(--spacer);
    font-family: var(--heading-font);
}
.maintenance span {
    padding: var(--spacer);
}
section.insurance {

    font-family: var(--heading-font); 
    display: block;
    margin-bottom: var(--spacer);
}
.ins {
    margin-bottom: 1rem;
}
.ins1 {
    background-color: var(--accent-color);
    padding: var(--spacer);
}
.ins2 {
    padding: var(--spacer);
}
.ins3 {
    background-color: var(--accent-color);
    padding: var(--spacer);
}




/****************************************************************************************/
   /**                             END---     Services page styling                    **/
   /**                                         BEGIN FAQ                               **/       
  /***************************************************************************************/

  /*--------------------------------------------------------------
FAQ's Header section 
--------------------------------------------------------------*/
/* FAQ's Header */
.faq {
  width: 100%;
}
.faq section:not(:first-child) { 
  width: 80%;
  margin:auto;
  align-items: center;
}
#faq-top {
  margin: auto;
  background: var(--primary-color);
}
#faq-top h1 {
  font-family: var(--heading-font);
  color: var(--text-lt-color);
  text-align: center;
  padding-top: 1.5em;
}
#faq-top p {
  color: var(--text-lt-color);
  text-align: center;
  font-size: calc(var(--fs-base) * 1.2);
  padding: .5rem 3rem 1rem 1rem;
}
/* FAQ's Main */

.faq main, h2 {
  text-align: center;
  padding: 1rem;
}

.faq details {
	margin-bottom: 3px;
	width: 100%;
	font-family: var(--primary-font);
}

.faq details p {
  font-family: var(--primary-font);
	padding: 20px;
}

.faq summary {
	padding: 20px;
	background-color: var(--tertiary-color);
	border: 1px solid var(--accent-color);
	outline: none;
}

.faq summary:hover,
.faq summary:focus {
	border: 1px solid var(--primary-color);
}

/** 4. - .faq details[open] is a decedent selector that open and collapse the section **/
.faq details[open] summary {   
	background-color: var(--tertiary-color);
	border: 1px solid var(--accent-color);
}

.faq details[open] {
	background: var(--accent-color);
}

#faq-c {
  padding-bottom: 3rem;
}




    /************ NEW CONTACT AGENT PAGE *********/
  
    .contactAgentMain {
      display: flex;
      flex-direction: column;
      align-items: center; /* Add this line to center align the items horizontally */
      justify-content: center; /* Add this line to center align the items vertically */
    }
    #contactAgentMain > * {
      margin-bottom: 20px; /* Adjust as needed */
  }
  .contactAgentMain > .contactUs > aside {
    border: 2px solid white; /* Adjust as needed */
    box-shadow: var(--shadow);
    padding:10px
}
contactAgentMain .contactUs h1 {
  color: var(--primary-color);
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.75); /* Adjust the color of the text shadow */
}
    .cnt-zip h2 { padding-bottom: var(--spacer);}
    .cnt-moreinfo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; /* Changed from justify-self to justify-content */
      gap: 20px; /* Adjust as needed */
  }

  .cnt-moreinfo > * {
    min-width: 300px; /* Adjust as needed */
    min-height: 100px;
    padding:10px;
    border-radius: var(--border-radius);
    background-color: var(--tertiary-color);
  }

  .cnt-moreinfo > article > fieldset {
    border-radius: 10px; /* Adjust as needed */
    min-height: 100px;
}
  .cnt-moreinfo > * > fieldset {
    background-color: var(--tertiary-color); /* Move the background color to the fieldset */
}

  .cnt-loan-checks ul {
    columns: 2;
    list-style: none;
    padding: 0;
}

.cnt-loan-checks li {
    display: block;
}
    .btn-cntAgent{ 
      width:60%;
      text-align: center; /* Add this line to center align the button */
    }
   .contactAgentMain button {
    margin:10px;
    width:90%
   }

    /************ END NEW CONTACT AGENT PAGE *******/

.contactAgentPage .contactDetails{width:100%;}

.map {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: var(--shadow);
}
.zip-location label{
    display: grid;
    padding-bottom: .25em;
}
.loan-checks ul{
    display: grid;
    grid-template-columns: var(--grid-item-mid);}

.day-contactTime ul{
        display: grid;
        grid-template-columns: var(--grid-item-mid);

    } 
/* *************************************END OF CONTACT US CSS********************** */



/****************************************************************************************/
/*                                   Media queries                                      */
/****************************************************************************************/


/** At least tablet size **/
@media screen and (min-width: 950px) {
/** show offers **/
.offers article:first-child p {
  display: block; /* Show the paragraph on smaller screens (mobile devices) */
}
.topText h1 {color: var(--text-lt-color);}
.topText h3 {
  color:red;
  text-shadow: var(--shadow);
}
.bottomText h2 {
  color: var(--primary-color);
  text-shadow: var(--shadow);
}

  /* Navigation Bar, hide hamberger */
  .navTogglerMenu { display: none; }

  .navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
  }
  /* .headerNav li a { color: var(--text-dk-color);} */ /* already dark color by default */

  .logo {
    display: flex;
    align-items: center;
    position: absolute;
    top: .6rem;
    left: var(--spacer);
  }

  .logo img {
    width: 100px;
    /* Adjust the width as needed */
    height: 80px;

  }

  .headerNav {
    all: unset;
    align-self: flex-start;/* to remove hamburger icon for desktop version */
    z-index: 1000;
    height: 50px; /* this is needed to make sure that the navigation is not blocked by main */

  }

  .headerNav ul {
    display: flex;
    margin-right: 1rem;
  }

  .headerNav li {
    border-bottom: none;
    text-decoration: none;
  }

  .login {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 1rem;
    right: 7rem;

  }
 .login i { color: var(--primary-color); /* change icon color here*/ }


  /* grid area for how does car leasing works */

  .cards-container {
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-gap: 2em;
  }

  .cards-container h2 {
    grid-column: 1/4;
    width: 80%;
  }

  .info-1 {
    grid-column: 1/2;
    height: 100%;
    width: 100%;
  }

  .info-2 {
    grid-column: 2/2;
    height: 100%;
    width: 100%;
  }

  .info-3 {
    grid-column: 3/2;
    height: 100%;
    width: 100%;
  }

/***** ABOUT US PAGE *****/
.aboutUs-grid {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 31em)) 1fr;
}
#about-top img {
  align-self: center;
  grid-column: 3/4;
  grid-row: 1/3;
}
#about-top h1 {
  grid-column: 2/3;
  grid-row: 1/2;
  /* text-align: left; */
  padding: 2em 0 0 1em;
  margin-bottom: 0;
}
#about-top p {
  margin-right: 1rem;
  margin-left: 0;
  padding: 0 0 1em 1em;
  text-align: left;
  grid-column: 2/3;
  grid-row: 2/2;
}
.content-wrap, #about-b {
  grid-column: 2/4;
}
#about-a, #about-b, #about-c, #about-d {
  margin: 1em 0;
}

  /***** Footer grid area *****/
  .m { display: none; }

  .d {
    display: grid;
    grid-template-areas: "l s c"
      "p s i";
      grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    text-align: left;
  }

  .l { grid-area: l; }

  .s {
    grid-area: s;
    margin-left: 75px;
  }

  .c {
    grid-area: c;
    margin-left: 125px;
  }

  .p {
    grid-area: p;
    margin: 5px 0;

  }

  .i {
    grid-area: i;
    margin: 10px 0 5px 125px;
  }

  /* SIGN IN AND SIGN UP MEDIA QUERRY */
  .signIn,
  .signUp,
  .pswdreset {
    width: 33%;
  }

   /*services page*/
    .ins {
        display: inline-flex;
    }
   
}
/** end @media min 700px **/

/*******************************************************************/
/**                          Desktop size                        ***/
/*******************************************************************/
@media screen and (min-width: 1200px) {

  /* header link  */
  .center-nav,
  .center-nav ul {
    display: flex;
    justify-content: space-between;
  }
  .logo {left: 7rem;}
  .center-nav ul li { margin: 0 10px;}

  /****** SPECIFIC FOR SEARCH BAR for desktopsize *****/
  
  .search-bar {display: block;} /* to show the search bar on desktop devices */

  .box-viewCars,
  .btn-viewCars {  display: none; } /* hide viewbox and button for desktop */

  .search-bar ul {
    grid-template-columns: var(--grid-item-very-large);
    align-self: end;
  }

  

    
  /* ******css for contact us page********* */

  .contactAgentPage{
    font-family: var(--primary-font);
    font-size: 1.25em;
    font-weight: 400;
    color: var(--text-dk-color);
  }
     .contactDetails {
        display: grid;
        grid-template-areas: "hrs c1 c2";
        grid-template-columns: 1fr 1fr 1fr;
        gap:15px;
        grid-row:auto;
        box-shadow:none;
    
    } 

    .hours {
        grid-area: hrs;
       align-items: center ;
       box-shadow: var(--shadow);
    }

    .c1 {
        grid-area: c1;
        align-self: center;
        box-shadow: var(--shadow);
    }

    .c2 {
        grid-area: c2;
        align-self: center;
        box-shadow: var(--shadow);
    }
     .c2 p{
      font-size: .925em;
      line-height: 1.3;

     }
    .hours .c1 .c2 {
        width: 350px;
      
    }
    .contactDetails article{
        width:100%;
    }
    .contactDetails div {
        border: solid 2px #0B1C55;
        border-radius:var(--border-radius);
        width: auto;
        height: 120px;
        padding: 10px;
        margin: auto;
    }

     .contactUs {
        display: grid;
        grid-template-areas: "form map";
        grid-template-columns: var(--grid-item-mid);
        grid-row: auto;
        box-shadow: var(--shadow);
        margin-bottom: 20px;
    }
    .contactForm{grid-area: form;}
   
    .map{grid-area: map;
        width:80%;
    height:90%;}
/* span the image to 100% */
    .contactAgentPage figure img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* This will ensure the aspect ratio of the image is maintained */
  }
    
/* CONTACT AGENT FORM */
.contactAgentPage .contactUs {
    margin: auto;
    display: grid;
    grid-template-areas:"aT aT"
     "form map"
     "cAPh2 cAPh2"
     "cD cD"
     "btn btn";
    grid-template-columns: var(--grid-item-mid);
    grid-row: auto;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
}
.contactAgentPage .hours,.c1,.c2{
    height:fit-content;
    overflow: auto;
    padding: 10px;
}
.agentTitle{grid-area: aT;}
.contactDetails{grid-area: cD;}
.cAPh2{grid-area: cAPh2;
text-align: center;
padding: 5px;}
.btn{grid-area: btn;}
.contactAgentPage .map{
    margin-top: 45px;
text-align: center;}

    .contactAgentPage .contactDetails{
        width:100%;
    }
    

  /* SIGN IN AND SIGN UP MEDIA QUERRY */
  .signIn,
  .signUp,
  .pswdreset {
    max-width: 600px;
  }

}
